#card{
  background: linear-gradient(180deg, rgb(123, 174, 219), rgb(193, 193, 193));

}
.site__inner {
  height: 100%;
  padding: 16px;
  @media (max-width: 800px){ 
    padding: 0;
  }
}
.site__title{
  position: sticky;
  top: 0;
  font-size: 50px;
  text-align: left;
  font-weight: 800;
  z-index: 3;
  white-space: nowrap;
  text-indent: -0.1vw;
  text-decoration: underline;
  letter-spacing: -0.2vw;
  color: antiquewhite;
  @media (max-width: 800px){ 
    width: 100%;
    margin-bottom: 10vw;
    font-size: 30px;
    text-align: center;
    height: auto;
    top: 0px;
    background-color: #7caedb;
    z-index: 1000;
}
}
.card__container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index: 1; 
  .card__main{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -25%;
    height: 60vh;
    width: 1000px;
    border-radius: 25px;
    padding: 50px;
    transform-origin: top;
    justify-content: center;

    h2 {
      text-align: center;
      font-weight: 500;
      margin: 0px;
      font-size: 28px;
      @media (max-width:800px) {
        padding: 10px;
      }
    }
    @media(max-width: 800px){ 
      justify-content: center;
      margin: 5px;
      padding: 20px;
    }
    .card__body {
      display: flex;
      line-height: 2;
      height: 100%;
      margin-top: 50px;
      gap: 50px;
      @media(max-width: 800px){
        line-height: 1.8;
        margin-top: 0;
        gap: 0;
        justify-content: center;
        flex-wrap: wrap;
      }
      @media (max-width:350px) {
        line-height: 1.4;
        height: 80%;
      }
      .card__content {
        width: 40%;
        position: relative;
        top: 10%;

        p {
          font-size: 16px;

          &::first-letter {
            font-size: 28px;
            font-family: 'Title';
          }
        }
        @media(max-width: 800px){ 
          width: 100%;
          margin: 0 10px 10px 10px;
          top: 0;
        }
      }

      .card__image {
        position: relative;
        width: 60%;
        height: 100%;
        border-radius: 25px;
        overflow: hidden;

        .image__inner {
          width: 100%;
          height: 100%;
        }

        img {
          object-fit: cover;
          border-radius: 25px;
        }
        @media(max-width: 800px){ 
          width: 65%;
          height: auto;
        }
      }
    }
    @media (max-width:800px) {
      flex-direction: column-reverse;
    }
    @media (max-width:350px) {
      height: 50vh;
    }
  }
}