#header {
    @include position-fixed;
    z-index: 10000;
    transition: top 0.3s ease-in-out;
    &.hide {
        top: -100px;  // 헤더의 높이에 따라 조정 필요
    }
}
.header__inner {
    @include flex-center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
    background-color:  rgb(41 48 62);
    color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 0.4rem;
    @media (max-width: 800px) {
        height: 100%;  
        padding: 0.5rem;  
    }
    .header__logo {
        width: 160px;
    }
    
    .header__nav {
        opacity: 0.75;
        @media (max-width: 1060px){
            display: none;

            &.show {
                display: block;

                ul {
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 68px;
                    background-color: rgba(116,99,99,0.1);
                    backdrop-filter: blur(15px);
                    z-index: 10000;
                    min-width: 150px;
                    padding: 20px 0;

                    li {
                        display: block;
                        text-align: right;

                        a {
                            display: inline-block;
                            padding: 10px;
                        }
                    }
                }
            }
            &.show + .header__nav__mobile span::before {
                width: 20px;
            }
            &.show + .header__nav__mobile span::after {
                width: 20px;
            }
        }
        
        li {
            padding: 0px 20px;
            display: inline;
            a {
                text-transform: uppercase;
                font-size: 20px;
                padding: 16px;
                position: relative;
    
                &::before {
                    content: '';
                    width: calc(100% - 28px);
                    height: 1px;
                    background-color: var(--white);
                    position: absolute;
                    left: 14px;
                    bottom: 10px;
                    transform: scaleX(0);
                    transition: all 0.5s;
                }
                &:hover::before {
                    transform: scaleX(1);
                }
            }
        }
    }
    .hamburger{
        z-index: 10002;
    }
    .hamburger ul{
        width: 30px;
        margin: 0px 35px;
        transition: all 0.5s ease-in-out;
        box-sizing: border-box;
        @media (max-width:393px) {
            margin: 0;
        }
    }
    .hamburger li{
        width: 20px;
        height: 2px;
        margin: 6px 0;
        background-color: #fff;
        border-radius: 2px;
        opacity: 1;
        text-indent: -9999px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
    }
    .hamburger.active li:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background-color: #111;
    }
    
    .hamburger.active li:nth-child(2) {
        background: transparent;
    }
    
    .hamburger.active li:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: #111;
    }
    .header__nav__mobile {
        display: none;
        width: 40px;
        height: 40px;
        cursor: pointer;

        @media (max-width: 800px){
            display: block;
        }

        span {
            display: block;
            width: 40px;
            height: 2px;
            background-color: var(--white);
            margin-top: 19px;
            position: relative;

            &::before {
                content: "";
                width: 40px;
                height: 2px;
                background-color: var(--white);
                position: absolute;
                right: 0;
                top: 6px;
                transition: width 0.3s;
            }
            &::after {
                content: "";
                width: 40px;
                height: 2px;
                background-color: var(--white);
                position: absolute;
                left: 0;
                bottom: 6px;
                transition: width 0.3s;
            }
        }
    }
}
.modal__open{
    position: fixed;
}
