#intro {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgb(37, 41, 52), rgb(81, 128, 170));
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro__inner{
    width: 33%;
    color: #ffffff; 
    position: relative;
}
.circle__container, .text__container {
    position: absolute;
    width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-Width:800px) {
        width: 300%;
    }
  }
  
  .circle__container {
    z-index: 1; 
  }
  
  .text__container {
    z-index: 2; 
    text-align: center;
  }
