#portf {
  height: 100vh;
  width: 100%;
  padding: 16px;
  background: linear-gradient(180deg, rgb(193, 193, 193), rgb(187 185 144));
  display: flex;
  flex-direction: column; 
  @media (max-width: 800px) {
    padding: 0;
  }
}

.portf {
  display: flex;
  height: 100%;
  width: 100%;
}

.portf__title {
  display: flex;
  justify-content: left;
  font-size: 3vw;
  font-weight: 900;
  line-height: 1.6;
  text-transform: uppercase;
  text-decoration: underline;
  color: lightslategray;

  @media (max-width: 800px) {
    width: 100%;
    padding: 0px;
    font-size: 30px;
    text-align: center;
    height: auto;
    top: 0px;
    background-color: #c1c1c0;
    justify-content: center;
    z-index: 1000;
  }
}

.portfolio__left {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio__right {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  width: 100%;
  padding: 30px;
  opacity: .4;
  margin-top: 5vh;

}

.swiper-slide-active {
  opacity: 1;
  margin-top: 5vh;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  max-width: 500px;
  object-fit: cover;
  border-radius: 18px;
  transition: transform 0.3s;
}

.swiper-slide:hover img {
  transform: scale(1.05);
}

.slide__title {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.card-grid {
  &:hover>.card:not(:hover) .card__background {
    -webkit-filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }

  .card {
    position: relative;

    &:hover>.card__background,
    &:hover::after {
      transform: scale(1.05) translateZ(0);
    }

    &:before {
      content: '';
      display: block;
      padding-bottom: 150%;
      width: 100%;
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: linear-gradient(0deg, #000, transparent 20%);
      opacity: .7;
      transition:
        filter 200ms linear,
        transform 200ms linear;
    }

    .card__background {
      background: {
        size: cover;
        position: center;
      }

      border-radius: 24px;
      filter: brightness(0.75) saturate(1.2) contrast(0.85);
      filter: brightness(0.75) saturate(1.2) contrast(0.85);

      transform: scale(1) translateZ(0) {
        origin: center;
      }

      transition: filter 200ms linear,
      transform 200ms linear,
    }

    .card__content {
      padding: 24px;

      .card__category {
        color: rgba(255, 255, 255, 0.6);
        font-size: 1em;
        margin-bottom: 8px;
        text-transform: uppercase;
      }

      .card__heading {
        color: rgba(255, 255, 255, 0.9);
        font-size: 1.9em;
        text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
        line-height: 1.4;
        word-spacing: 100vw;
      }
    }
  }
}

.swiper-pagination {
  position: absolute;
  width: 10px !important;
  margin: 4px;
  left: -30px;
  /* 원하는 위치에 따라 조절 */
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.swiper-pagination-bullet {
  background: gray !important;
  width: 12px !important;
  height: 12px !important;
  margin: 5px 0 !important;
}

.swiper-pagination-bullet-active {
  background: rgb(230, 224, 224) !important;
}

@media (max-width: 1000px) {
  .portfolio {
    margin-top: 5rem;
    flex-direction: column;
  }

  .portfolio__left {
    display: none;
    margin-bottom: 5rem;
    width: 100%;
    flex-direction: column;
  }

  .portfolio__right {
    margin-bottom: 5rem;
    width: 100%;
  }

  .swiper-slide img {
    max-width: 300px;
  }
}

@media (min-width: 351px) and (max-width: 600px) {
  .swiper-slide {
    padding-left: 100px;
  }
}